.navbar .brand {
    color: #333333;
}

a {
    color: #333333;
}

a:hover {
    color: #111111;
}

.nav-list .active > a {
    display: block;
    background-color: #999999;
    font-weight: bold;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nav-list .active > a:hover {
    background-color: #777777;
}

#loggedInText {
    font-size: 1.2em;
    line-height: 3em;
}

.small {
    font-size: 0.9em;
    float: right;
}

.ad h3 {
    font-size: 1.1em;
}

.ad a.btn {
    margin-top: 6px;
    float: right;
}

.eventList {
    min-height: 600px;
}

footer {
    font-size: 1.2em;
    font-weight: bold;
}

footer a {
    text-decoration: underline;
}
