.navbar .brand {
    color: #333333;
}

a {
    color: #333333;
}

a:hover {
    color: #111111;
}

.nav-list .active > a {
    display: block;
    background-color: #999999;
    font-weight: bold;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nav-list .active > a:hover {
    background-color: #777777;
}

#loggedInText {
    font-size: 1.2em;
    line-height: 3em;
}

#loggedInText .icon-user {
    margin-top: 3px;
}

.small {
    font-size: 0.9em;
    float: right;
}

.ad h3 {
    font-size: 1.1em;
}

.ad a.btn {
    margin-top: 6px;
    float: right;
}

#eventList {
    min-height: 600px;
}

#eventList ul {
    list-style-type: none;
    margin-left: 0px;
}

#eventList li {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    border-top: 2px solid #333;

    margin: 1em 0px;
    padding: 0.3em;
}

#eventList li h5 {
    color: #666;
}

#eventList .btnContainer {
    padding-top: 3px;
    text-align: center;
}

.eventDescription {
    color: #333;
    margin: 6px 0;
    font-family: "Comic Sans MS";
}

#eventBox {
    left: 40%;
    width: 70%;
}

#eventBox .modal-body {
    min-height: 24em;
}

#mapCanvas {
    float: right;
    height: 200px;
    width: 200px;
}

footer {
    font-size: 1.2em;
    font-weight: bold;
}

footer a {
    text-decoration: underline;
}
